.footer-developed-by {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  text-align: right;
  gap: 3px;
}

.footer-developed-by img {
  height: 1.25rem;
}

@media (max-width: 600px) {
  .footer-developed-by img {
    height: 1.1rem;
  }
}
